.app {
  min-width: 480px;
  min-height: 480px;
  color: #fafafa;
}

/* TODO: a menu */
.app h2 {
  margin: 1rem;
  color: #fcde5c;
  font-weight: normal;
  font-size: 20px;
  margin-left: 2rem;
  cursor: pointer;
}
