.popup {
  width: 800px;
  min-height: 480px;
}

.app {
  color: black;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.app-navigation {
  grid-column: 1 / 5;
  border-right: 1px solid #dedede;
  padding: 1rem 0;
  height: 100%;
  overflow-y: scroll;
}

.app-main {
  padding: 1rem;
  grid-column: 5 / 13;
}

.app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
