@import-normalize;
@import "./fonts/index.css";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #001f36;
  color: #fff;
}

body,
button,
a {
  font-family: "Nunito";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
