@import-normalize;
@import "./fonts/index.css";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #333;
}

body,
button,
a {
  font-family: "Nunito";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-weight: normal;
  font-size: 20px;
}

h3 {
  font-weight: normal;
}

ul {
  list-style: none;
}
