@import-normalize;
@import './fonts/index.css';
@import './components/atoms/Colors/Colors.css';
@import './components/atoms/Text/Text.css';
@import './components/atoms/Sizes/Sizes.css';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background: #fff;
}

body,
button,
a {
  font-family: IBM Plex Sans;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

*:focus {
  outline-color: var(--c2);
  outline-width: 1px;
  outline-style: solid;
  outline-offset: 2px;
}
