.standalone-override {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
}

.standalone-override__url {
  grid-column: 1/13;
}

.standalone-override__response {
  grid-column: 1/13;
  margin: 2rem 0;
}
