.select__dropdown_large {
  padding: 0.5rem;
}

.select__dropdown_small {
  padding: 5px;
}

.select__dropdown_block {
  display: block;
  width: 100%;
}

.select__dropdown {
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 4px;
}
