.treeView {
  height: 100vh;
  display: inline-block;
}

.treeView__child {
  color: var(--g1);
}

.treeView__row {
  display: flex;
  align-items: center;
  padding: calc(var(--em) * 1.25) calc(var(--em) * 3) calc(var(--em) * 1.25)
    calc(var(--em) * 2);
  border-radius: calc(var(--em) * 0.5);
  border: none;
  background-color: transparent;
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  cursor: pointer;
  min-width: calc(var(--em) * 25);
  position: relative;
}

.treeView__row:hover {
  background-color: var(--c5);
}

.treeView__row_selected,
.treeView__row_selected:hover {
  background-color: var(--c6);
}
