.request {
  display: grid;
  grid-template-columns: 5rem minmax(200px, 1fr) 5rem 2rem;
  column-gap: 1rem;
  font-size: 16px;
  background-color: #fff;
  color: #000;
  border: none;
  font-family: "Nunito";
  cursor: pointer;
  padding: 0;
  width: 100%;
  padding: 1rem 0.75rem;
  border-radius: 5px;
}

.request.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #e0ebf3;
}

.url {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.status {
  text-align: end;
}

.arrow {
  align-self: center;
  width: 16px;
  transition: all 0.3s;
}

.request.open .arrow {
  transform: rotate(180deg);
}
