.request-header {
  display: grid;
  grid-template-columns: 4rem minmax(200px, 1fr) 4rem 2rem;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: none;
  font-family: 'IBM Plex Sans';
  cursor: pointer;
  padding: 0;
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 5px;
}

.rrequest-header_open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #e0ebf3;
}

.request-header__url {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.request-header__method {
  text-align: left;
}

.request-header__status {
  text-align: end;
}

.request-header:focus .request-header__arrow {
  outline: none;
}

.request-header__arrow {
  fill: #555;
  align-self: center;
  width: 0.8rem;
  transition: all 0.3s;
  margin: 0 auto;
}

.request-header__arrow_open {
  transform: rotate(180deg);
}
