.response-override {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.response-override__body {
  margin-top: 1rem;
  grid-column: 1/13;
  position: relative;
}

.response-override__type {
  grid-column: 1/13;
}

.response-override__code {
  grid-column: 1/13;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
