.pill {
  display: block;
  border-radius: calc(var(--em) * 3);
  min-width: 64px;
  height: 24px;
  display: inline-block;
  text-align: center;
  padding-left: calc(var(--em) * 2);
  padding-right: calc(var(--em) * 2);
  box-sizing: border-box;
  border: none;
}

.pill.pill_button {
  cursor: pointer;
  height: 28px;
}

.pill.pill_button:hover {
  background-color: var(--g5);
  color: var(--accent);
}

.pill_error {
  color: var(--accent);
}
