.input {
  box-sizing: border-box;
  border: none;
  border-radius: var(--em);
  max-width: 100%;
  transition: all 0.1s;
  height: calc(var(--em) * 5);
  box-sizing: border-box;
}

.input_multiline {
  min-height: calc(var(--em) * 5);
  height: auto;
  resize: vertical;
}

.input-label {
  display: flex;
  flex-flow: column;
  position: relative;
}

.input-icon {
  position: absolute;
  display: flex;
  height: calc(var(--em) * 5);
  align-items: center;
  right: 0;
  top: calc(var(--em) * 3);
}

.cross-button_no-label {
  top: 0;
}

.input-icon svg {
  background-color: transparent;
  fill: var(--primary);
}

.input__cross {
  height: 100%;
  cursor: pointer;
  background-color: var(--c5);
  border-radius: var(--em);
  border: none;
}

.input__cross:hover {
  border: 1px solid var(--c4);
}

.input__cross svg {
  transition: all 0.3s;
}

.input__cross:hover svg {
  transform: rotate(180deg);
  z-index: 11;
}

.label__text_hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.cross-button {
  display: none;
}

.cross-button_shown {
  display: flex;
}

.cross-button_shown svg {
  animation: 0.6s ease-out 0s 1 rotateCross;
}

@keyframes rotateCross {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.input_delay {
  display: inline-flex;
  width: calc(var(--em) * 16);
}

.input:disabled {
  background-color: var(--g7);
  color: var(--g3);
}

.input-label__validation {
  float: right;
}

.input_invalid {
  border: 2px solid var(--accent);
}

.cross-button_invalid {
  height: calc(var(--em) * 5);
}

.input-label__validation-icon {
  fill: var(--accent);
  transform: translateY(1px);
}

.input-label__label {
  position: relative;
}

.input__revert {
  position: absolute;
  width: calc(var(--em) * 2);
  height: calc(var(--em) * 2);
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid transparent;
  right: calc(var(--em) * -1);
  transition: transform 0.3s, background-color 0.3s, width 0.3s, height 0.3s;
  top: calc(var(--em) * -1);
  box-sizing: border-box;
  z-index: 10;
}

.input__revert_enabled {
  border: 2px solid white;
  background-color: var(--accent);
}

.input__revert_enabled.input__revert_active {
  cursor: pointer;
}

.input__revert button,
.input__revert_label-text {
  font-size: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.input__revert .icon_sm {
  position: absolute;
  top: 2px;
  left: 1.5px;
  width: 8px;
  height: 8px;
  fill: var(--c5);
  opacity: 0;
  transition: all 0.5s;
}

.input__revert_with-label {
  top: calc(var(--em) * 2);
}

.input__revert_enabled.input__revert_active:hover,
.input__revert_enabled.input__revert_active:active,
.input__revert_enabled.input__revert_active:focus-within {
  transform: scale(2.5);
}

.input__revert_enabled.input__revert_active:hover .icon_sm,
.input__revert_enabled.input__revert_active:active .icon_sm,
.input__revert_enabled.input__revert_active:focus-within .icon_sm {
  opacity: 1;
}

.input__revert_enabled.input__revert_active:focus-within {
  outline-color: var(--c5);
  outline-width: 1px;
  outline-style: solid;
  outline-offset: 2px;
}

.input__revert_enabled.input__revert_active:active .icon_sm {
  fill: white;
  transform: rotate(-135deg);
}
