.url-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
}

.method {
  grid-column: 1 / 4;
  position: relative;
}

.url {
  grid-column: 4 / 13;
  position: relative;
}

.method__label,
.url__label,
.queryParamterValue__label,
.queryParamterKey__label {
  display: block;
  font-size: 12px;
  margin-bottom: 6px;
  margin-left: 1px;
}

.method__dropdown,
.url__input,
.queryParamterKey__input,
.queryParamterValue__input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.queryParamterKey {
  grid-column: 2 / 5;
}

.queryParamterValue {
  grid-column: 5 / 12;
}

.queryParamterKey__label,
.queryParamterValue__label,
.queryParamterCheckBox__label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.queryParameters {
  grid-column: 1/13;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  margin-top: 1rem;
}

.queryParameters__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
}

.queryParameters__legend {
  grid-column: 1/13;
}

.queryParamterCheckBox_input {
  margin: 0;
}

.queryParameter__delete {
  grid-column: 12/13;
  cursor: pointer;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  padding: 0;
  align-self: center;
  border: none;
  color: #fff;
  text-align: center;
  line-height: 26px;
  font-weight: bold;
  background-color: rgba(167, 3, 3, 0.842);
}

.queryParameter__delete:hover,
.queryParameter__delete:focus {
  background-color: rgba(167, 3, 3, 1);
}
