.url-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
}

.method {
  grid-column: 1 / 4;
}

.url {
  grid-column: 4 / 13;
  position: relative;
}

.queryParameters {
  grid-column: 1/13;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  margin-top: 1rem;
}

.queryParameters__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
}

.queryParameters__legend {
  grid-column: 1/13;
}
