.url-container {
  display: flex;
  flex-flow: row;
}

.url {
  margin-left: calc(var(--em) * 3);
  flex: 1 1;
}

.url-container,
.queryParameters {
  width: 100%;
  max-width: calc(var(--em) * 90);
}

.queryParameters {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  margin-top: calc(var(--em) * 6);
}
