.request-body {
  border: 3px solid #fff;
  background-color: #fff;
  padding: 1rem;
  display: grid;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.response {
  background-color: #dddfe5;
  padding: 1rem;
  padding-right: 2rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  display: inline-block;
  min-width: 40%;
  font-family: monospace;
  line-height: 1rem;
  font-size: 1rem;
}

.override-button {
  background-color: transparent;
  border: 2px solid #001f36;
  border-radius: 3px;
  color: #001f36;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bolder;
  font-size: 16px;
  font-family: Nunito;
  float: right;
}

.override-button:hover {
  color: #fafafa;
  background-color: #001f36;
  border-color: #001f36;
}

.response-text {
  color: #000;
  word-break: break-all;
}

h3 {
  color: #000;
}

.empty-response {
  color: #333;
}
