.request-body {
  display: grid;
}

.request__response {
  background-color: #dddfe5;
  padding: 1rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
  display: inline-block;
  min-width: 40%;
  font-family: monospace;
  line-height: 1rem;
  font-size: 1rem;
}

.response-text {
  color: #000;
  word-break: break-all;
}

h3 {
  color: #000;
}

.empty-response {
  color: #333;
}
