.disabled-domain {
  display: block;
  width: 100%;
  min-height: 300px;
  position: relative;
  overflow-x: hidden;
}

.disabled-domain__teaser,
.disabled-domain__teaser svg {
  max-height: 80%;
  max-width: 40%;
  position: absolute;
  left: -10%;
  top: 20%;
}

.disabled-domain__content {
  position: absolute;
  left: 30%;
  height: 100%;
  justify-content: center;
}

.disabled-domain__button {
  width: fit-content;
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.add-file .icon_md {
  fill: white;
}
