.disabled-domain {
  display: block;
  width: 100%;
  height: 100vh;
  position: relative;
  min-height: 300px;
  overflow-x: hidden;
  padding: 0;
}

.disabled-domain__teaser,
.disabled-domain__teaser svg {
  max-height: 70%;
  max-width: 70%;
  min-width: 300px;
  min-height: 300px;
  position: absolute;
  bottom: 25vh;
  left: 5%;
}

.disabled-domain__content {
  position: absolute;
  left: 30%;
  height: 100%;
  padding-bottom: calc(25vh - 24px);
  padding-left: 10%;
  padding-right: 10%;
  justify-content: flex-end;
}

.disabled-domain__button {
  width: fit-content;
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.add-file .icon_md {
  fill: white;
}
