.section {
  position: relative;
  box-sizing: border-box;
}

.section__header {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.section__chevron {
  transition: all 0.2s ease-out;
}

.section__chevron_closed {
  transform: rotate(-90deg) translate(0px, -1px);
}

.section__body {
  width: 100%;
  transform-origin: top center;
  position: relative;
  box-sizing: border-box;
  overflow-y: hidden;
  display: contents;
}

.section__body > div:first-child {
  transition: margin 0.3s, padding 0.3s;
}

.section__body_closed > div:first-child {
  margin: 0;
  padding: 0;
}

.section__body_closed {
  display: block;
}
