.domain__icon {
  fill: var(--g1);
}

.domain__name {
  color: black;
}

.domain__children_collapsed {
  display: none;
}

.domain__chevron {
  position: absolute;
  top: calc(var(--em) * 2);
  right: var(--em);
  transform: translate(-50%);
  fill: var(--g5);
  transition: transform 0.3s;
}

.treeView__row_selected .domain__chevron {
  fill: var(--primary);
}

.domain__chevron_collapsed {
  transform: rotate(-90deg);
}
