.tab {
  background-color: var(--g5);
  cursor: pointer;
  z-index: 0;
  position: relative;
  box-sizing: border-box;
  transition: all 0.2s;
}

.tab:after {
  content: '';
  position: absolute;
  width: 10%;
  height: 0px;
  bottom: 0;
  left: 50%;
  border-bottom: none;
  transition: width 0.1s, left 0.1s;
  transition-timing-function: ease-in;
}

.tab:hover:after {
  content: '';
  position: absolute;
  width: calc(100% - 4 * var(--em));
  height: 1px;
  bottom: 0;
  left: 10%;
  border-bottom: 2px solid var(--primary);
}

.tab button {
  border: none;
  background: transparent;
  padding: var(--em) calc(var(--em) * 4);
  text-transform: uppercase;
  cursor: pointer;
}

.tab_selected {
  background-color: var(--g7);
  z-index: 1;
}

.tab_selected button {
  color: var(--primary);
  font-weight: 500;
}
