.button {
  border: none;
  text-transform: uppercase;
  border-radius: var(--em);
  cursor: pointer;
  filter: drop-shadow(4px 4px 8px rgba(61, 77, 155, 0.15));
  height: calc(var(--em) * 5);
  display: flex;
  align-items: center;
}

.secondary {
  border: 1px solid var(--primary);
}

.button:active {
  filter: none;
}

.tretiary {
  border: none;
  filter: none;
  padding-left: 0;
  padding-right: 0;
}

.tretiary:active {
  color: var(--c1);
}
