.button {
  border: none;
  text-transform: uppercase;
  border-radius: var(--em);
  cursor: pointer;
  filter: drop-shadow(4px 4px 8px rgba(61, 77, 155, 0.15));
  height: calc(var(--em) * 5);
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: fit-content;
  position: relative;
  transition: all 0.3s;
}

.secondary {
  border: 1px solid var(--primary);
}

.primary:hover {
  background-color: var(--g1);
}

.secondary:hover {
  background-color: var(--g7);
}

.button:active {
  filter: none;
}

.tretiary {
  border: none;
  filter: none;
  padding-left: 0;
  padding-right: 0;
}

.tretiary .icon_md {
  transition: all 0.3s;
}

.tretiary:hover .icon_md {
  transform: scale(1.3);
}

.tretiary:active {
  color: var(--c1);
}

.button-row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  row-gap: calc(var(--em) * 3);
  column-gap: calc(var(--em) * 3);
}

.button_disabled {
  color: var(--g5);
}

@media only screen and (max-width: 750px) {
  .button-row {
    max-width: 200px;
    flex-flow: column;
  }

  .button-row .button + .button {
    margin-top: calc(var(--em) * 3);
    margin-left: 0;
  }

  .button-row .button + .file-input {
    margin-top: calc(var(--em) * 3);
    margin-left: 0;
  }

  .button {
    font-size: 15px;
  }
}
