.treeView {
  height: 100vh;
  display: inline-block;
  overflow-y: scroll;
}

.treeView__child {
  color: var(--g1);
}

.treeView__row {
  display: flex;
  align-items: center;
  padding: calc(var(--em) * 1.25) calc(var(--em) * 3) calc(var(--em) * 1.25)
    calc(var(--em) * 2);
  border-radius: calc(var(--em) * 0.5);
  border: none;
  background-color: transparent;
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  cursor: pointer;
  min-width: calc(var(--em) * 25);
  position: relative;
  height: calc(var(--em) * 5);
  box-sizing: border-box;
}

.treeView__row:hover {
  background-color: var(--c5);
}

.treeView__row_selected,
.treeView__row_selected:hover {
  background-color: var(--c6);
}

.treeView__add-domain {
  width: 100%;
  padding-left: calc(var(--em) * 2);
  padding-right: calc(var(--em) * 3);
}

.treeView__add-domain:hover {
  background-color: var(--c5);
}

.node-body {
  transition: all 0.3s;
}

.node-body_disabled {
  filter: grayscale(100%);
}

.treeView__header {
  display: inline-block;
}
