.nodeName__input {
  font-weight: normal;
  font-size: 16px;
  box-sizing: content-box;
  line-height: 20px;
  font-family: IBM Plex Sans;
  margin: 0;
  padding: 0 var(--em) 0 calc(var(--em) * 0.5);
  margin-left: calc(var(--em) * 0.5);
  border: 0;
  position: relative;
}

.nodeName__name {
  padding-right: calc(var(--em) * 2);
  position: relative;
}

.nodeName__name_unsaved:after {
  content: '';
  position: absolute;
  width: calc(var(--em) * 1.5);
  height: calc(var(--em) * 1.5);
  border-radius: 50%;
  background-color: var(--accent);
  right: 0;
  top: calc(var(--em) * -0.5);
}
