ul.tree__parent {
  padding: 0;
  --child-base-size: 1rem;
  margin: 0;
}

.tree__child + .tree__child {
  margin-top: 0;
}

.tree__button {
  text-align: left;
  width: 100%;
  cursor: pointer;
  padding: calc(var(--child-base-size) * 0.27)
    calc(var(--child-base-size) * 0.5);
  background-color: transparent;
  border: none;
  color: #333;
  font-size: calc(var(--child-base-size) * 0.8);
  line-height: calc(var(--child-base-size) * 0.8);
  box-sizing: border-box;
  display: flex;
}

.tree__arrow {
  min-width: calc(var(--child-base-size) * 0.7);
  padding-right: calc(var(--child-base-size) * 0.4);
  align-self: center;
  fill: #555;
  transition: transform 0.3s;
  transform-origin: calc(var(--child-base-size) * 0.36)
    calc(var(--child-base-size) * 0.31);
}

.tree__arrow.tree__arrow_closed {
  transform: rotate(-90deg);
}

.tree__button:hover {
  background-color: rgba(90, 90, 90, 0.3);
}

.tree__child_selected .tree__button,
.tree__button:focus {
  outline: rgba(120, 120, 120, 0.3);
  background-color: rgb(74 84 94 / 94%);
  color: white;
  font-weight: 600;
}

.tree__child_selected .tree__button {
  background-color: rgb(3 92 156 / 92%);
}

.tree__child_selected .tree__button .tree__arrow,
.tree__button:focus .tree__arrow {
  fill: white;
}

.tree__child-title {
  align-self: center;
  word-break: break-all;
}

.tree__button_no-arrow {
  padding-left: calc(var(--child-base-size) * 1.6);
}

.tree__child .tree__child .tree__button {
  padding-left: calc(var(--child-base-size) * 1.6);
}

.tree__child .tree__child .tree__child .tree__button {
  padding-left: calc(var(--child-base-size) * 3.2);
}

.tree__child .tree__child .tree__child .tree__child .tree__button {
  padding-left: calc(var(--child-base-size) * 4.8);
}

.tree__child .tree__child .tree__child .tree__child .tree__child .tree__button {
  padding-left: calc(var(--child-base-size) * 6.4);
}
