.requests-list {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

li + li {
  margin-top: 0.4rem;
}

.no-content {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #8888aa;
  font-weight: 600;
}

.requests-header {
  margin-top: 0;
}
