.request-card {
  position: relative;
  border: 2px solid var(--c5);
  padding: var(--em) calc(var(--em) * 2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: var(--em);
  grid-row-gap: var(--em);
  background-color: white;
  cursor: pointer;
  word-break: break-all;
}

.request-card_open {
  cursor: initial;
}

.request-card_proxied {
  border: 2px solid var(--c4);
}

.request-card__pill,
.request-card__response-type {
  justify-self: flex-end;
}

.request-card__url,
.request-card__method,
.request-card__response-typ,
.request-card {
  transition: all 0.2s;
}

.request-card:hover {
  filter: drop-shadow(2px 2px 4px rgba(61, 77, 155, 0.1));
}

.request-card_open:hover {
  filter: none;
}

.request-card:hover .request-card__url {
  color: var(--primary);
  text-decoration: underline;
}

.request-card_open:hover .request-card__url {
  color: black;
  text-decoration: none;
}

.request-card:hover .request-card__method,
.request-card:hover .request-card__response-type {
  color: black;
}

.request-card__url {
  text-transform: initial;
}

.request-card__url_small {
  font-size: smaller;
  font-weight: lighter;
}

.card-body__header {
  justify-content: space-between;
  align-items: center;
}

.chevron_up {
  transform: rotate(180deg);
}

.card-body__close {
  flex: 1 1;
  border: none;
  background: transparent;
  cursor: pointer;
}

.card-body__close:hover {
  text-decoration: underline;
  color: black;
}

.analyse {
  margin-right: 5px;
  margin-left: auto;
}

.tretiary .analyse__icon.icon_md {
  transform: rotate(-90deg);
  margin-right: calc(var(--em) * -1);
  width: 14px;
}

.override__icon.icon_md {
  fill: white;
  transform: rotate(-90deg);
  margin-right: calc(var(--em) * -1);
}

.request-card__body {
  grid-column: 1/3;
}

.tabbed__input textarea {
  border-top-left-radius: 0;
}

.url-param__base {
  font-weight: 500;
}

.url-param__key {
  color: var(--g2);
}

.url-param__value {
  color: black;
}
