.label__text {
  font-size: 13px;
}

.label__text_block {
  display: block;
  margin-bottom: 6px;
  margin-left: 1px;
}

.label__text_inline {
  display: inline;
  margin-right: 0.5rem;
}

.label__text_hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.label__text_large {
  font-size: 16px;
}
